@model ReconocimientoEmocionesIA_Web.Models.MemeViewModel

@{
    ViewData["Title"] = "Generador de memes";
}

<h1>Generador de MEMES</h1>

<video id="video" width="640" height="480" autoplay></video>
<button class="btn btn-primary" id="capture">Realizar Captura</button>
<canvas id="canvas" width="640" height="480" style="display:none;"></canvas>

<form id="uploadForm" method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="GenerarImg">
    <div class="form-group">
        <label for="imageUpload">Subir imagen</label>
        <input type="file" class="form-control" id="imageUpload" name="imagen" accept="image/*" required>
    </div>
    <button type="submit" class="btn btn-primary">Cargar Imagen</button>
</form>


<div class="contenedor-imagen">
    <img class="imagen" src="@Url.Content("~/imagenes/" + Model.Imagen)" width="640" height="480"  alt="Imagen" />
</div>

<form id="generadorMemeForm" method="post" asp-controller="Home" asp-action="GenerarMeme">
    <div class="form-group">
        <input type="hidden" class="form-control" value="@Model.Imagen" id="imagenMeme" name="fileName" required>
    </div>
    <button type="submit" class="btn btn-primary">Generar Meme</button>
</form>


@if (Model != null && Model.Emociones != null)
{
<table class="table">
    <thead>
        <tr>
            <th>
                Emoción
            </th>
            <th>
                %
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Emociones)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Porcentaje)%
                </td>
            </tr>
        }
    </tbody>
</table>

    <div class="contenedor-imagen">
        
        <img class="imagen" src="@Url.Content("~/imagenes/" + Model.Imagen)" alt="Imagen" />
        @* <div class="texto-superior">@Model.Frase</div> *@
    </div>

}